/* Font faces */

@font-face {
	font-family: "Norse";

	src:
		url("fonts/norse/norse.woff2") format("woff2"),
		url("fonts/norse/norse.woff") format("woff");

	font-weight: 400;
}

@font-face {
	font-family: "Norse";

	src:
		url("fonts/norse/norse-bold.woff2") format("woff2"),
		url("fonts/norse/norse-bold.woff") format("woff");

	font-weight: 700;
}

:root {
	--color-brand: hsl(92, 20%, 35%);
	--color-text-strong: hsl(92, 40%, 10%);
	--color-text-weak: hsl(92, 10%, 30%);
	--color-stroke-strong: hsl(92, 10%, 50%);
	--color-stroke-weak: hsl(92, 5%, 80%);
	--color-fill: hsl(92, 2%, 95%);
	--color-background: hsl(0, 0%, 100%);
	--color-red: hsl(0, 71%, 50%);
}

/* Reset */
*,
*::before,
*::after {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}

body {
	height: 100vh;

	font-family: sans-serif;
	color: var(--color-text-strong);

	display: flex;
}

/* Background */

header {
	width: 640px;
	padding-bottom: 16px;

	background-image: url("images/fern.png");
	background-size: auto 100%;
	background-position: center;

	display: flex;
	flex-direction: column;
	align-items: center;
}

header .header {
	width: 100%;
	margin-top: 224px;
	padding: 12px;

	background-color: hsla(0, 0%, 0%, 0.5);
	
	color: hsla(0, 0%, 100%, 1.0);

	display: flex;
	justify-content: center;
	align-items: center;
}

header .header h1 {
	font-family: "Norse";
	font-size: 96px;
}

header .source {
	margin-top: auto;
	font-size: 14px;
	color: hsla(0deg, 0%, 100%, 0.75);
}

header .source a {
	color: inherit;
}

/* Main */

main {
	flex-grow: 1;

	background-color: var(--color-fill);

	display: flex;
	flex-direction: column;
}

main > * {
	flex-basis: 0;
	flex-grow: 1;
}

main .message {
	width: 832px;

	padding-bottom: 64px;
	padding-left: 48px;
	padding-right: 48px;

	font-size: 24px;
	font-weight: bold;

	display: flex;
	flex-direction: column;
	justify-content: flex-end;
	gap: 24px;
}

main form {
	background-color: var(--color-background);

	padding-top: 24px;
	padding-bottom: 32px;
	padding-left: 48px;
	padding-right: 48px;

	flex-grow: 0;
}

main form h2 {
	margin-bottom: 24px;
}

main form .inputs {
	display: flex;
	gap: 64px;
}

main form .inputs .column {
	display: flex;
	flex-direction: column;
	gap: 24px;
}

main form .inputs .column .input {
	display: flex;
	flex-direction: column;
	gap: 2px;
}

main form .inputs .column .input label {
	font-size: 12px;
	font-weight: bold;
	letter-spacing: 2px;
	text-transform: uppercase;
	color: var(--color-text-weak);
}

main form .inputs .column .input input {
	width: 288px;

	border-width: 2px;
	border-style: solid;
	border-radius: 4px;
	border-color: var(--color-stroke-weak);

	padding: 6px;

	font-size: 16px;
}

main form .inputs .column .input input:hover {
	border-color: var(--color-brand);
}

main form .inputs .column .input input:focus {
	outline: none;
	box-shadow: 1px 1px 5px 1px hsla(0, 0%, 0%, 0.15);
	border-color: var(--color-brand);
}

main form .inputs .column .input input:user-invalid {
	border-color: var(--color-red);
}

main .continuation {
	padding-top: 32px;
	padding-bottom: 32px;
	padding-left: 48px;
	padding-left: 48px;

	display: flex;
	flex-direction: column;
	align-items: flex-start;
	gap: 24px;
}

main .continuation button {
	border: none;
	border-radius: 8px;

	padding-top: 16px;
	padding-bottom: 16px;
	padding-left: 64px;
	padding-right: 64px;

	background-color: var(--color-brand);

	font-size: 18px;
	font-weight: bold;
	text-transform: capitalize;
	color: var(--color-background);
}