/* Font faces */

@font-face {
	font-family: "Norse";

	src:
		url("fonts/norse/norse.woff2") format("woff2"),
		url("fonts/norse/norse.woff") format("woff");

	font-weight: 400;
}

@font-face {
	font-family: "Norse";

	src:
		url("fonts/norse/norse-bold.woff2") format("woff2"),
		url("fonts/norse/norse-bold.woff") format("woff");

	font-weight: 700;
}

:root {
	--color-green: #596D48;
	--color-gray: #E5E7EB;
}

/* Debug */
*,
*::before,
*::after {
	outline-style: dashed;
	outline-width: 1px;
	outline-color: grey;
}

/* Reset */
*,
*::before,
*::after {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}

body {
	height: 100vh;
	display: flex;
}

/* Background */
header {
	width: 384px;

	padding-bottom: 16px;

	display: flex;
	flex-direction: column;
	align-items: center;

	/* Header */
	.header {
		width: 100%;
		margin-top: 128px;
		padding: 8px;

		display: flex;
		justify-content: center;
		align-items: center;
	}

	/* Source */
	.source {
		margin-top: auto;
	}
}

/* Main */
main {
	display: flex;
	flex-direction: column;

	&>* {
		flex-basis: 0;
		flex-grow: 1;
	}

	/* Message */
	.message {
		padding-bottom: 48px;
		padding-left: 32px;
		padding-right: 32px;

		display: flex;
		flex-direction: column;
		justify-content: flex-end;
		gap: 24px;
	}

	/* Form */
	form {
		padding-top: 16px;
		padding-bottom: 24px;
		padding-left: 32px;
		padding-left: 32px;

		flex-grow: 0;

		h2 {
			margin-bottom: 24px;
		}

		/* Inputs */
		.inputs {
			display: flex;
			gap: 48px;

			/* Columns */
			.column {
				display: flex;
				flex-direction: column;
				gap: 16px;

				/* Input groups */
				.input {
					display: flex;
					flex-direction: column;
				}
			}
		}
	}
}