/* Font faces */

@font-face {
	font-family: "Norse";

	src:
		url("fonts/norse/norse.woff2") format("woff2"),
		url("fonts/norse/norse.woff") format("woff");

	font-weight: 400;
}

@font-face {
	font-family: "Norse";

	src:
		url("fonts/norse/norse-bold.woff2") format("woff2"),
		url("fonts/norse/norse-bold.woff") format("woff");

	font-weight: 700;
}

:root {
	--color-green: #596D48;
	--color-gray: #E5E7EB;
}

/* Reset */
*,
*::before,
*::after {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}

body {
	height: 100vh;
	display: flex;
}

/* Background */

header {
	width: 512px;
	padding-bottom: 16px;

	background-image: url("images/fern.png");
	background-size: auto 100%;
	background-position: center;

	display: flex;
	flex-direction: column;
	align-items: center;
}

header .header {
	width: 100%;
	margin-top: 128px;
	padding: 8px;

	background-color: hsla(0deg, 0%, 0%, 0.5);
	color: hsla(0deg, 0%, 100%, 1.0);

	display: flex;
	justify-content: center;
	align-items: center;
}

header .header h1 {
	font-family: "Norse";
	font-size: 48px;
}

header .source {
	margin-top: auto;
}

/* Main */

main {
	display: flex;
	flex-direction: column;
}

main > * {
	flex-basis: 0;
	flex-grow: 1;
}

main .message {
	padding-bottom: 48px;
	padding-left: 32px;
	padding-right: 32px;

	display: flex;
	flex-direction: column;
	justify-content: flex-end;
	gap: 24px;
}

main form {
	padding-top: 16px;
	padding-bottom: 24px;
	padding-left: 32px;
	padding-left: 32px;

	flex-grow: 0;
}

main form h2 {
	margin-bottom: 24px;
}

main form .inputs {
	display: flex;
	gap: 48px;
}

main form .inputs .column {
	display: flex;
	flex-direction: column;
	gap: 16px;
}

main form .inputs .column .input {
	display: flex;
	flex-direction: column;
}

main form .inputs .column .input label {
	text-transform: uppercase;
}

main form .inputs .column .input input {
	width: 256px;
}

main .continuation {
	padding-top: 24px;
	padding-bottom: 16px;
	padding-left: 32px;
	padding-left: 32px;

	display: flex;
	flex-direction: column;
	align-items: flex-start;
	gap: 24px;
}